{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>Login</h1>
        <p></p>
        <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
          <p></p>
          <p>Don't have an account?</p>
          <a href="{% url 'register' %}">Register</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}